* {
  font-family: Arial;
  background-color:bisque;
}

body {
  max-width: 1200px;
  margin: 10 auto;
}


h1 {
  color: brown;
  font-size: 36px;
  text-align: center;
}

p {
  font-size: 18px;
  color: black;
}